*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: blue;

}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.to-do-list{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 20%;
    width: 50%;
    left: 25%;
    /* border: 2px solid black; */
}
.to-do-list-element{
    position: relative;
    padding: 2.5% 0;
    text-align: center;
}
button{
    padding: 1% 2%;
    border: 2px solid black;
}
.btn-add{
    margin: 2.5% 0;
    padding: 2% 2%;
    align-self: center;
}
.btn-delete{
    display: block;
    position: relative;
}
.list{
    list-style: none;
    
}
.list li{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    border: 2px solid black;
    padding: 5% 5%;
    overflow-wrap: break-word;
    flex-wrap: wrap;

}
.task-detail-wrapper {
    width: 80%;
}

.task-detail-wrapper label{
    position: relative;
    text-align: left;
    width: 100%;
    font-weight: bold;

    
}

input{
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 2%;
}
.header{
    font-size: 30px;
}
.date-time-task{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.date-time-task {
    font-size: 16px;
}
.date-time-task input{
    font-size: 14px;;
}
.task-detail-wrapper{
    display: flex;
    flex-direction: column;
}
